@use "variables";
@use "mixins";

$letterSpacingValue: 2px;
$borderRadiusValue: 10px;

.rules-button {
  @include mixins.default-centering;
  flex-direction: column;
  height: 2.25rem;
  width: 7rem;
  border: 2px solid variables.$boxBorderColor;
  border-radius: $borderRadiusValue;
  letter-spacing: $letterSpacingValue;
  cursor: pointer;
  background-color: transparent;
  color: variables.$defaultFontColor;
  font-family: inherit;
  font-weight: variables.$defaultFontWeight;
}
