@use "variables";

.play-again-button {
	width: 12.5rem;
	height: 2.5rem;
	font-family: inherit;
	font-weight: variables.$defaultFontWeight;
	letter-spacing: 2px;

	&--victory {
		color: variables.$darkTextColor;
	}

	&--lose {
		color: variables.$loseTextColor;
	}
}
