@use "variables";

$backgroundIcon: url("/assets/images/bg-triangle.svg");

.play-area {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 37.5rem;

	&__start {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		column-gap: 5rem;
		row-gap: 2.5rem;
		background-image: $backgroundIcon;
		background-repeat: no-repeat;
		background-position: center;
	}

	&__final {
		display: flex;
		flex-direction: row;
		column-gap: 125px;
		letter-spacing: 2px;
		background-color: transparent;
		color: variables.$defaultFontColor;
		font-family: inherit;
		font-weight: variables.$defaultFontWeight;
		width: fit-content;

		&-choice {
			display: flex;
			flex-direction: column;
			align-items: center;
			row-gap: 100px;

			&-text {
				font-size: 25px;
				white-space: nowrap;
			}

			&-ai {
				display: flex;
				flex-direction: column;
				align-items: center;

				&-blank-space {
					margin: 25px;
					background-color: rgba(0, 0, 0, 0.3);
					width: 150px;
					height: 150px;
					border-radius: 100px;
				}
			}
		}

		&-results {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;
			row-gap: 10px;
			padding-bottom: 60px;

			&-header {
				margin: 0;
				font-size: 50px;
				white-space: nowrap;
			}
		}
	}
}
