<div class="play-area">
  <div class="play-area__start" *ngIf="!showChoices && !showResults">
    <app-play-option
      [option]="paperPlayOption"
      (selected)="gameStart($event)"></app-play-option>
    <app-play-option
      [option]="scissorsPlayOption"
      (selected)="gameStart($event)"></app-play-option>
    <app-play-option
      [option]="rockPlayOption"
      (selected)="gameStart($event)"></app-play-option>
  </div>
  <div class="play-area__final" *ngIf="showChoices">
    <div class="play-area__final-choice play-area__final-choice-player">
      <div class="play-area__final-choice-text">YOU PICKED</div>
      <app-play-option
        [option]="playerChoice"
        [isBig]="isBig"></app-play-option>
    </div>
    <div class="play-area__final-results" *ngIf="showResults">
      <p class="play-area__final-results-header" *ngIf="state === victoryState">
        YOU WIN
      </p>
      <p class="play-area__final-results-header" *ngIf="state !== victoryState">
        YOU LOSE
      </p>
      <app-play-again-button
        (clicked)="restartGame()"
        [gameState]="state"></app-play-again-button>
    </div>
    <div class="play-area__final-choice play-area__final-choice-ai">
      <div class="play-area__final-choice-text">THE HOUSE PICKED</div>
      <div
        class="play-area__final-choice-ai-blank-space"
        *ngIf="aiChoice === undefinedPlayOption"></div>
      <app-play-option
        [option]="aiChoice"
        [isBig]="isBig"
        *ngIf="aiChoice !== undefinedPlayOption"></app-play-option>
    </div>
  </div>
</div>
