@use "variables";
@use "mixins";

.header {
  @include mixins.default-centering;
  width: 37.5rem;
  height: 6.25rem;
  justify-content: space-between;
  padding: 1.25rem;
  border: 2px solid variables.$boxBorderColor;
  border-radius: 15px;

  &__logo {
    @include mixins.default-centering;
    width: 12.5rem;
    height: 6.25rem;
  }
}
