@use "variables";

.header {
  width: 37.5rem;
  height: 6.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  border: 2px solid variables.$boxBorderColor;
  border-radius: 15px;

  &__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 12.5rem;
    height: 6.25rem;
  }
}
