@mixin outer-circle-border($startColor, $endColor, $shadowColor) {
  border: 1px solid $endColor;
  background: linear-gradient(0deg, $startColor 0%, $endColor 100%);
  box-shadow: 0px 8px 0px 0px $shadowColor;
}
