$pageHeightPercent: 100%;
$backgroundGradient: radial-gradient(
	circle at top,
	hsl(214, 47%, 23%),
	hsl(237, 49%, 15%)
);
$bodyMinHeight: 95%;
$desktopWidth: 1366px;
$mobileWidth: 375px;
$font: "Barlow Semi Condensed", sans-serif;
$defaultFontColor: white;
$defaultFontWeight: 600;
$bolderFontWeight: 700;
$darkTextColor: hsl(229, 25%, 31%);
$scoreTextColor: hsl(229, 64%, 46%);
$boxBorderColor: hsl(217, 16%, 45%);
